body {
	font-family: Abel
}

.left-side {
	height: 90vh;
	background-color: #2F8CC7;
}
.center-side {
	position: relative;
	max-height: 90vh;
}
.right-side {
	height: 90vh;
	background-color: #13AE5B;
	position: absolute;
	right: 0;
	display: none;
}

nav {
	background-color: #fafafa;
	border-left: none !important;

}
nav ul a {
	color: #000!important;
}
.left-side ul {
	position: relative;
	top: 50px;
}
.left-side ul a {
	color: #fff;
	font-size: large;
	float: right;
}

.left-side li:hover {
	background-color: #246997;
	padding-left: 20px;
	padding-right: 20px;
}
.left-side li {
	height: 50px;
	width: 100%;
	padding-left: 20px;
	/*padding-top: 20px;
	padding-bottom: 20px;*/
}
.slideMe {
	position: relative;
	max-height: 750px;
	overflow: hidden;
	cursor: pointer;
}
.slideMe > img {
	width: 100%;
	margin: auto;
}


.logo {
	height: 50px;
	position: relative;
	top: 7px;
	left: 5px;
}
.slideMe .controls {
	width: 165px;
	margin: auto;
	position: relative;
	top: 0px;
}

#preloader {
	position: absolute;
	z-index: 9999;
	background-color: #fff;
	/*opacity: 0.5;*/
	width: 100%;
	height: 100%;
}

#preloader div {
	position: relative;
	top: 15vh;
	left: 45vw;
}
#preloader div > p {
	width: 150px;
	text-align: center;
}
#preloader div > p:first-child {

	font-size: x-large;
}
#preloader img {
	position: relative;
	left: 20px;
}

#preloader2 {
	position: absolute;
	display: none;
	top: 50%;
	left: 40%;
}

.left-side li.active {
	background-color: #246997;
	padding-left: 20px;
	padding-right: 20px;
}
.image-container {
	width: 100px;
	margin: auto;
}
.image-container img {

	height: 100px;
	width: 100px;
}

.team-card {
	display: inline-block;
	padding: 5px;
	cursor: pointer;
}

#sideContent {
	position: relative;
	top: 10px;
	padding-top: 15px;
	overflow-y: auto;
	height: 95%;
}

#sideContent > p {
	font-size: large;
	color: #fff;
}

.info-container {
	padding: 5px;
	color: #fff;
}

.info-container p:first-child {
	font-weight: bold;
	font-size: large;
}
.resultsContainer > .results > p > span {
	padding-left: 10px;
}

.resultsContainer > p:first-child {

	font-size: medium;
	font-weight: bold;
	color: #fff;
}

.resultsContainer.teams .results {
	height: 40px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: -2px;
}
.resultsContainer.teams .results > p > span {
	color: #fff;
	position: relative;
	top: 10px;
}
.resultsContainer.teams .results > p > span:last-child {
	position: relative;
	float: right;
}
.results.win {

	background-color: #2ECC71;
}

.results.lost {

	background-color: #E74C3C;
}

.results.draw {

	background-color: #87D37C;
}

::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3);
}

.name-hover {

	display: none;
	position: relative;
}
.name-hover p {
	width: 100px;
	height: 100px;
	position: absolute;
	top: -124px;
	background-color: #1E8BC3;
	font-size: large;

}

.name-hover p > span {

	display: block;
	color: #fff;
	text-align: center;
}
.name-hover p > span:last-child {
	position: relative;
	bottom: -40px;
	font-size: small;
}


.cups-card {

	width: 350px;
	height: 150px;
	display: inline-block;
	padding: 5px 5px 5px 5px;
	margin: 5px;
	

}

.cups-card > p {
	text-align: center;
	height: 50px;
	margin: 0;
	
}
.cups-card p > span {
	top: 7px;
	position: relative;
}

.cups-card p:nth-child(1) {
	background-color: #1E8BC3;
	color: #fff;
	font-size: x-large;
}
.cups-card p:nth-child(2) {
	
	border-left: solid 1px #1E8BC3;
	border-right: solid 1px #1E8BC3;
}
.cups-card p:nth-child(3) {
	border-bottom: solid 1px #1E8BC3;
	border-left: solid 1px #1E8BC3;
	border-right: solid 1px #1E8BC3;
	background-color: rgba(46, 204, 113, 0.5);
	
}
.info-hover {
	display: none;
	position: relative;
}
.info-hover > p {
	position: absolute;
	background-color: #fff;
	color: #000;
	top: -124px;
	width: 340px;
	height: 100px;
	text-align: center;
	cursor: pointer;
}

.resultsContainer.cups .results > p {
	color: #fff;
	text-align: center;
	width: 90%;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
	height: 10px;
}

.resultsContainer.cups .results {
	margin-bottom: 2px;
	height: 50px;
	background-color: rgba(46, 204, 113, 0.5);
}

.resultsContainer.cups .results:nth-child(2) {
	background-color: #F9BF3B;
}
.resultsContainer.cups .results:nth-child(2)  span {
	
	color: #13AE5B;
	font-style: bold;
}
.resultsContainer.cups .results:nth-child(3) {
	background-color: #95A5A6;
}

.hide-me {
	display: none;
}

.cup-info {

	background-color: rgba(46, 204, 113, 0.5);
	padding: 5px 5px 5px 5px;
}

.cup-info > p > span {
	color: #fff;
}

.cup-info > p:nth-child(1), .cup-info > p:nth-child(2) {
	text-align: center;
}

.cup-info > p:nth-child(1) > span {
	
	font-size: x-large; 
}

.trigger-side {
	position: absolute;
	color: #000;
	right: 20px;
}

.trigger-side > i:hover {
	color: #1E8BC3;
}

.pool-card {
	width: 250px;
	display: inline-block;
	margin: 7px;
	height: 240px;
	border: solid 1px #1E8BC3;
}

.pool-card  p {
	text-align: center;
	height: 40px;
	margin: 0px;
	cursor: pointer;
}

.pool-card > p:first-child {

	font-size: x-large;
	color: #fff;
	background-color: #1E8BC3;
}

.pool-card > div > p > span {

	position: relative;
	top: 10px;
}


.pool-card > div > p:nth-child(odd) {

	background-color: rgba(46, 204, 113, 0.5);
}

.pool-card > div > p:hover {

	background-color: rgba(46, 204, 113, 0.2);
}

